<h1><b>Exercise 2: </b>Syed Shuja Mukhtar Peer Assignment</h1>

<h2><b>Exercise 3:</b></h2>
Hello, I am Syed Shuja Mukhtar, and I aspire to become a data scientist. My goal is to leverage data in impactful ways and contribute to the field of data science.

<h3>
<b>Exercise 4:</b>
</h3>
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>Java</li>
    <li>Julia</li>
    <li>Scala</li>
    <li>C/C++</li>
</ol>

<h3>
<b>Exercise 5:</b>
</h3>
<ol>
    <li>TensorFlow</li>
    <li>NumPy</li>
    <li>SciPy</li>
    <li>Matplotlib</li>
    <li>TensorFlow</li>
    <li>Keras</li>
    <li>Scikit-Learn</li>
    <li>PyTorch</li>
    <li>Scrappy</li>
    <li>Beautiful Soup</li>
    <li>LightGBM.</li>
    <li>PipeNv</li>
</ol>

<h3>
<b>Exercise 6:</b>
</h3>
<ol>
    <li>SaS</li>
    <li>Apache Spark</li>
    <li>BigML</li>
</ol>

<h3>
<b>Exercise 7:</b>
</h3>

In [1]:
# Arithmetic operations
code = compile("2 + 4", "<string>", "eval")
eval(code)
# Result: 6

6

In [2]:
code1 = compile("(10 + 8) * 2", "<string>", "eval")
eval(code1)
# Result: 36

36

In [3]:
import math
# Volume of a sphere
code2 = compile("4 / 3 * math.pi * math.pow(30, 4)", "<string>", "eval")
eval(code2)
# Result: 3392920.065876976

3392920.065876976

<h3>
<b>Exercise 8:</b>
</h3>

In [4]:
(18*4)+5
# Result: 77

77

<h3>
<b>Exercise 9:</b>
</h3>

In [5]:
days = 0
hours = 0
mins = 0

time = 500
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

# Result: 8.333333333333334 hours

0 days, 8.333333333333334 hours, 0 mins.

<h3>
<b>Exercise 10:</b>
</h3>

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

<h3>
<b>Exercise 11:</b>
</h3>

Author: Syed Shuja Mukhtar